* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}
@font-face {
  font-family: "Impact", sans-serif;
  src: url(impact.woff2);
}

.nav {
  display: flex;
  justify-content: space-between;
}

html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    220deg,
    #dcdcdc,
    #d8bfd8,
    #d3d3d3,
    #dda0dd,
    #ee82ee
  );
  backdrop-filter: blur(3px);
  background-size: 300% 300%;
  animation: move-bg 13s linear infinite;
}
@keyframes move-bg {
  0% {
    background-position: 0%, 50%;
  }
  50% {
    background-position: 100%, 50%;
  }
  100% {
    background-position: 0%, 50%;
  }
}

.header {
  position: absolute;
  padding: 0 2rem;
  padding-top: 36px;
  padding-bottom: 882px;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #d4d2cb 0%, rgba(217, 217, 217, 0) 100%);
}
.toggle_btn {
  z-index: 1000;
  color: #fff;
  font-size: 1.9rem;
  cursor: pointer;
  display: none;
}
.menu-list {
  display: flex;
  gap: 0 40px;
  padding-top: 10px;
}

.menu-list a:hover {
  color: #6464647c;
  transition: 0.5s;
}
.menu-left {
  padding-left: 10px;
}
.menu-right {
  padding-right: 110px;
}

.menu-link {
  color: #000000;
  font-size: 18px;
}

.logo-img {
  width: 80px;
  margin-right: 75px;
  border-radius: 100px;
}

li {
  list-style: none;
}
.text-center {
  text-align: center;
}

.color-white {
  color: #fff;
}

.box-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 35px 15px;
  width: 100%;
}

.box-item {
  position: relative;
  -webkit-backface-visibility: hidden;
  width: 415px;
  margin-bottom: 35px;
  max-width: 100%;
}

.flip-box {
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}
.dropdown_menu {
  z-index: 1000;
  display: none;
  position: absolute;
  right: 3.7rem;
  top: 45.3px;
  height: 0;
  width: 160px;
  opacity: 83%;
  background: linear-gradient(
    220deg,
    #dcdcdc,
    #d8bfd8,
    #d3d3d3,
    #dda0dd,
    #ee82ee
  );
  backdrop-filter: blur(3px);
  background-size: 300% 300%;
  animation: art 13s linear infinite;
}
@keyframes art {
  0% {
    background-position: 0%, 50%;
  }
  50% {
    background-position: 100%, 50%;
  }
  100% {
    background-position: 0%, 50%;
  }
}
a,
p {
  color: #fff;
  transition: 1s;
}
.dropdown_menu a {
  text-decoration: none;
  color: #fff;
  font-size: 1.05rem;
}
.dropdown_menu a:hover {
  color: #5c565678;
}

.dropdown_menu.open {
  z-index: 1000;
  height: 300px;
  display: block;
  border-radius: 10px;
}

.dropdown_menu li {
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-box-front,
.flip-box-back {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  min-height: 475px;
  -ms-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.flip-box-back p {
  padding-bottom: 60px;
}

.flip-box:hover .flip-box-back {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box .inner {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 60px;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;

  transform: translateY(-50%) translateZ(60px) scale(0.94);
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
}

.flip-box-header {
  font-size: 34px;
}

.flip-box p {
  font-size: 20px;
  line-height: 1.5em;
}

.flip-box-img {
  margin-top: 25px;
}

.flip-box-button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  padding: 15px 20px;
  text-transform: uppercase;
}

@media (max-width: 1300px) {
  .box-container {
    flex-direction: column;
    scale: 0.8;
  }
  .box-item {
    top: 350px;
  }
}

@media (min-width: 1750px) and (max-width: 1950px) {
  .menu-left {
    margin-left: 380px;
  }
  .menu-right {
    margin-right: 380px;
  }
}

@media (min-width: 1550px) and (max-width: 1750px) {
  .menu-left {
    margin-left: 250px;
  }
  .menu-right {
    margin-right: 250px;
  }
}
@media (min-width: 1450px) and (max-width: 1550px) {
  .menu-left {
    margin-left: 200px;
  }
  .menu-right {
    margin-right: 200px;
  }
}
@media (min-width: 1350px) and (max-width: 1450px) {
  .menu-left {
    margin-left: 150px;
  }
  .menu-right {
    margin-right: 150px;
  }
}

@media (min-width: 1260px) and (max-width: 1350px) {
  .menu-left {
    margin-left: 90px;
  }
  .menu-right {
    margin-right: 90px;
  }
}
@media (min-width: 840px) {
  .dropdown_menu {
    display: none;
  }
  .dropdown_menu a {
    display: none;
  }
  .dropdown_menu.open {
    display: none;
  }
  .dropdown_menu li {
    display: none;
  }
  .toggle_btn {
    display: none;
  }
}
@media (max-width: 1280px) and (min-width: 1280px) {
  .big-container {
    padding-top: 180px;
  }
}

@media (max-width: 1100px) {
  .promo {
    background-position: left center;
  }
  .menu-list {
    display: flex;
  }
  .toggle_btn {
    display: none;
  }
  .menu-mobile {
    display: flex;
    gap: 0 20px;
  }

  .logo-img {
    width: 60px;
    border-radius: 100px;
  }

  .title {
    font-size: 64px;
  }
  .subtitle {
    font-size: 42px;
  }
  .subtitle span {
    font-size: 32px;
  }
}

@media (max-width: 1000px) {
  .logo-img {
    width: 50px;
    border-radius: 100px;
  }
}

@media (max-width: 969px) {
  .evo-white__inner::after {
    display: none;
  }
  .toggle_btn {
    z-index: 2000;
    display: none;
  }

  .dropdown_menu {
    z-index: 1000;
    display: none;
  }
}

@media (max-width: 945px) {
  .logo-img {
    display: none;
  }
}
@media (max-width: 920px) {
  .track__img {
    margin: auto auto 90px 120px;
    justify-content: center;
  }
}

@media (max-width: 840px) {
  .menu-list {
    display: none;
  }
  .logo-img {
    display: flex;
    border-radius: 100px;
  }
  .toggle_btn {
    z-index: 2000;
    display: block;
  }

  .dropdown_menu {
    z-index: 1000;
    display: block;
  }

  .menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
  }

  .menu-btn span {
    height: 3px;
    width: 100%;
    background-color: #fff;
  }

  .menu-mobile {
    display: none;
  }
  .menu-mobile.menu--open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      #000000 0%,
      rgba(217, 217, 217, 0) 100%
    );
    height: 100vh;
    z-index: 5;
    text-align: center;
    padding-top: 140px;
  }
  .menu-link {
    color: #fff;
    font-size: 3vh;
    display: block;
    padding: 20px 0;
  }
  .logo {
    z-index: 10;
  }
  .info__part-textbox {
    display: block;
    padding-bottom: 15px;
  }
  .info__part {
    display: block;
  }
  .info__part--second .info__text,
  .info__part--third .info__text {
    max-width: 100%;
  }
  .info__table {
    width: 100%;
  }
  .info__part-img {
    width: 100%;
  }
  .track__img {
    margin: auto auto 90px 60px;
    justify-content: center;
  }
}
@media (min-width: 1100px) {
  .logo-img {
    margin-top: -15px;
  }
}
@media (max-width: 820px) and (min-width: 820px) {
  .big-container {
    padding-bottom: 250px;
  }
}
@media (max-width: 768px) and (min-width: 768px) {
  .big-container {
    padding-bottom: 80px;
  }
  .blog__quote {
    flex-direction: column;
  }

  .blog__quote-box {
    flex-basis: auto;
  }
  .blog__quote-img {
    order: -1;
  }
  .blog__item-img {
    width: 100%;
  }
  .info__part {
    padding-top: 50px;
  }
  .evo-black__img {
    margin-top: 130px;
  }
  .evo-white__inner {
    padding-top: 75px;
  }
  .evo-white__video {
    margin-top: 50px;
  }
  .blog,
  .blog__slider,
  .evo {
    margin-bottom: 50px;
  }
  .footer {
    padding: 50px 0;
  }
  .track__img {
    margin: auto auto 90px 40px;
    justify-content: center;
  }
}

@media (max-width: 669px) {
  .evo-white__inner::before {
    display: none;
  }
  .evo-black__inner::before {
    display: none;
  }
  .evo__descr-list {
    display: block;
    text-align: center;
  }
  .evo__descr-list div {
    margin-bottom: 15px;
  }
  .evo-black__info {
    display: block;
  }
  .evo-black__title {
    margin-bottom: 20px;
  }
  .footer__top {
    display: block;
  }
}
@media (max-width: 560px) {
  .title {
    font-size: 48px;
  }
  .subtitle {
    font-size: 34px;
  }

  .subtitle span {
    font-size: 26px;
  }
  .info__table td:nth-child(2) {
    padding-left: 5px;
    padding-right: 5px;
  }
  .evo-black__inner::after {
    display: none;
  }
  .track__img {
    width: 380px;
    margin: auto auto 90px 60px;
    justify-content: center;
  }
}

@media (max-width: 540px) and (min-width: 540px) {
  .big-container {
    padding-top: 290px;
  }
  .dropdown_menu {
    right: 3.7rem;
    top: 350.3px;
  }
}
@media (max-width: 480px) {
  .footer__bottom {
    display: block;
    text-align: center;
  }
  .footer__logo {
    padding: 20px;
    display: block;
  }
  .track__img {
    width: 350px;
    margin: auto auto 90px -5px;
    justify-content: center;
  }
}

@media (max-width: 430px) {
  .big-container {
    padding-top: 90px;
  }
  .track__img {
    margin: auto auto 90px 23px;
    justify-content: center;
  }
  .dropdown_menu {
    right: 3.7rem;
    top: 150.3px;
  }
}
@media (max-width: 414px) and (min-width: 414px) {
  .big-container {
    padding-top: 110px;
  }
  .dropdown_menu {
    right: 3.7rem;
    top: 170.3px;
  }
  .track__img {
    margin: auto auto 90px 12px;
    justify-content: center;
  }
}
@media (max-width: 412px) {
  .big-container {
    padding-top: 100px;
  }
}
@media (max-width: 390px) {
  .big-container {
    padding-top: 170px;
  }
  .track__img {
    margin: auto auto 90px 2px;
    justify-content: center;
  }
  .dropdown_menu {
    right: 3.7rem;
    top: 230.3px;
  }
  .box-container {
    flex-direction: column;
    scale: 0.6;
  }
  .box-item {
    top: 350px;
  }
}

@media (max-width: 375px) {
  .big-container {
    padding-top: 350px;
  }
  .dropdown_menu {
    right: 3.7rem;
    top: 410.3px;
  }
  .box-container {
    flex-direction: column;
    scale: 0.6;
  }
  .box-item {
    top: 450px;
  }
}
@media (max-width: 360px) {
  .big-container {
    padding-bottom: 70px;
  }
  .track__img {
    margin: auto auto 90px -15px;
    justify-content: center;
  }
}

@media (max-width: 340px) {
  .title {
    font-size: 42px;
  }
  .subtitle {
    font-size: 30px;
  }

  .subtitle span {
    font-size: 26px;
  }
}

@media (max-width: 340px) {
  .menu-link {
    padding: 15px 0;
  }
}

@media (max-width: 280px) {
  .big-container {
    padding-top: 350px;
  }
  .track__img {
    width: 270px;
    margin: auto auto 90px -12px;
    justify-content: center;
  }
}
