@font-face {
  font-family: "Impact", sans-serif;
  src: url(impact.woff2);
}
* {
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    220deg,
    #dcdcdc,
    #d8bfd8,
    #d3d3d3,
    #dda0dd,
    #ee82ee
  );
  backdrop-filter: blur(3px);
  background-size: 300% 300%;
  animation: move-bg 13s linear infinite;
}
@keyframes move-bg {
  0% {
    background-position: 0%, 50%;
  }
  50% {
    background-position: 100%, 50%;
  }
  100% {
    background-position: 0%, 50%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 1s;
}
.menu-list a:hover {
  color: #3b003b7c;
  transition: 0.5s;
}
li {
  list-style: none;
}

img {
  max-width: 100%;
}
.big-container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.container {
  max-width: 920px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  padding: 0 2rem;
  padding-top: 25px;
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #d4d2cb 0%, rgba(217, 217, 217, 0) 100%);
}
.nav {
  display: flex;
  justify-content: space-between;
}
/*.text-item {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.text-item.animation-class {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}*/
.menu-list {
  display: flex;
  gap: 0 40px;

  font-family: "Comfortaa", sans-serif;
}
.menu-left {
  padding-left: 10px;
}
.menu-right {
  padding-right: 110px;
}

.menu-link {
  color: #000000;
  font-size: 18px;
}
.body {
  font-family: "Roboto Condensed", sans-serif;
  color: #040404;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
}
.logo-img {
  width: 80px;
  margin-right: 30px;
  border-radius: 100px;
}
.promo {
  background-image: url(148106-superkar-porsche911gt2-gt3-avtomobilnyjeksterer-porsche911gt3-3840x2160.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
}

.promo__inner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.title {
  font-family: "Impact", sans-serif;
  font-weight: 400;
  font-size: 76px;
  letter-spacing: 0.08em;
  margin-bottom: 10px;
}
.promo__text {
  font-size: 16px;
  color: black;
  margin-bottom: 10px;
}
.subtitle {
  font-family: "Impact", sans-serif;
  font-weight: 400;
  font-size: 48px;
  border-bottom: 1px solid #040404;
  margin-bottom: 10px;
  align-self: center;
}
.subtitle span {
  display: block;
  font-size: 34px;
  color: rebeccapurple;
  padding: 10px 0;
}
.promo_arrow {
  margin-top: auto;
  margin-bottom: 30px;
  align-self: center;
}
.info {
  margin-bottom: 100px;
  padding-bottom: 80px;
}

.info__part {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}

.info__part--first {
  display: block;
}
.info__part--third {
  padding-top: 66px;
}

.info__title {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 32px;
}
.info__part-textbox {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
}

.info__text {
  flex-basis: 440px;
  padding-top: 30px;
  margin-bottom: 30px;
}

.info__part-img {
  object-fit: cover;
}

.info__content {
  flex-basis: 415px;
}

.info__part--second .info__text {
  max-width: 352px;
}

.info__part--third .info__text {
  max-width: 377px;
}

.info__table {
  flex-basis: 450px;
  border-bottom: 1px solid #040404;
  position: relative;
  top: 140px;
}

.info__table::before {
  content: "";
  border-top: 1px solid #040404;
  position: absolute;
  width: 100%;
  top: -20px;
}
.info__table td {
  padding-bottom: 20px;
}
.track {
  background-image: url(translucent-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.track__inner {
  display: flex;
  flex-direction: column;
  min-width: 100vh;
}

.track__title {
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 32px;
  font-weight: 300;
}

.track__text {
  max-width: 435px;
}

.track__img {
  margin: auto auto 90px 140px;
  justify-content: center;
}

.evo {
  font-size: 14px;
  margin-bottom: 100px;
}
.evo-black {
  background-color: #363636;
  padding: 100px 0 50px;
  color: #fff;
}

.evo-black__inner {
  position: relative;
}
.evo-black__inner::before {
  content: "";
  background-image: url(hexagon_hwpwrz65ax3u.svg);
  width: 195px;
  height: 195px;
  position: absolute;
  top: 210px;
  left: -130px;
}

.evo-black__inner::after {
  content: "";
  background-image: url(hexagon_hwpwrz65ax3u.svg);
  width: 435px;
  height: 435px;
  position: absolute;
  top: 290px;
  left: -40px;
}
.evo-black__info {
  display: flex;
  justify-content: space-between;
}
.evo-black__title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 32px;
  padding-right: 50px;
}

.evo-black__infobox {
  flex-basis: 437px;
}
.evo-black__text {
  font-size: 14px;
  margin-bottom: 30px;
}

.evo-black__img {
  display: block;
  margin: 170px auto 60px;
  position: relative;
  z-index: 1;
}

.evo__descr-list {
  display: flex;
  justify-content: center;
  gap: 13px;
}

.evo__descr-list dd {
  text-transform: uppercase;
}

.evo-white__inner {
  padding-top: 125px;
  position: relative;
}
.evo-white__inner::before {
  content: "";
  background-image: url(pngwing.com96.png);
  background-repeat: no-repeat;
  width: 237px;
  height: 237px;
  position: absolute;
  top: -40px;
  left: 400px;
}
.evo-white__inner::after {
  content: "";
  background-image: url(pngfind.com-911-png-5747538.png);
  background-repeat: no-repeat;
  width: 370px;
  height: 370px;
  position: absolute;
  top: 115px;
  left: 600px;
}

.evo-white__text {
  margin-bottom: 30px;
}

.evo-white__text:first-child {
  max-width: 285px;
}

.evo-white__text:nth-child(2) {
  max-width: 437px;
}

.evo-white__text:nth-child(3) {
  max-width: 590px;
}

.evo-white__video {
  margin-top: 180px;
  background-image: url(Видео1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 264px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.evo-white__video-link span {
  display: block;
  color: #fff;
}

.blog {
  margin-bottom: 100px;
}

.blog__title {
  font-weight: 300;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.blog__item-img {
  margin-bottom: 20px;
}

.blog__item-title {
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
  min-height: 46px;
}

.blog__item-text {
  margin-bottom: 10px;
}

.blog__item-link {
  font-size: 12px;
  color: #363636;
}
.blos__slider {
  position: relative;
  padding-top: 50px;
  margin-bottom: 100px;
}
.blog__button {
  position: absolute;
  top: 0;
  cursor: pointer;
  left: 50%;
}

.swiper-button-left {
  transform: translateX(-41px);
}

.swiper-button-right {
  transform: translateX(8px);
}

.blog__quote {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
}
.blog__quote-box {
  flex-basis: 434px;
}
.blockquote {
  margin-bottom: 30px;
}

.blockquote__name {
  font-weight: 700;
  margin-bottom: 10px;
}

.blockquote__name span {
  display: block;
  font-size: 12px;
  color: blueviolet;
  margin-bottom: 3px;
}

.blockquote__text {
  font-style: italic;
}

.footer {
  padding: 100px 0 80px;
  background-color: #363636;
  color: #fff;
}

.footer__title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 50px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
}
.footer__info-item {
  margin-bottom: 40px;
}

.footer__info-item dt,
.footer__address-title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__info-item dd {
  margin-bottom: 10px;
}
.social-list {
  display: flex;
  gap: 0 20px;
  align-items: center;
}
.footer__address {
  flex-basis: 462px;
}

.footer__address-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.footer__bottom {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#map {
  height: 300px;
}

.ion {
  object-fit: cover;
  margin-top: 72px;
}

.blog__quote-img {
  width: 620px;
  border-radius: 80px;
}

.footer__logo-img {
  width: 70px;
  border-radius: 100px;
}
.menu-mobile,
.menu-btn {
  display: none;
}

.toggle_btn {
  z-index: 1000;
  color: #fff;
  font-size: 1.9rem;
  cursor: pointer;
  display: none;
}
.dropdown_menu {
  z-index: 1000;
  display: none;
  position: absolute;
  right: 2.5rem;
  top: 60px; /*Тут px как height в section#hero */
  height: 0;
  width: 160px;
  opacity: 90%;
  background: linear-gradient(
    220deg,
    #dcdcdc,
    #d8bfd8,
    #d3d3d3,
    #dda0dd,
    #ee82ee
  );
  backdrop-filter: blur(3px);
  background-size: 300% 300%;
  animation: art 13s linear infinite;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes art {
  0% {
    background-position: 0%, 50%;
  }
  50% {
    background-position: 100%, 50%;
  }
  100% {
    background-position: 0%, 50%;
  }
}
.dropdown_menu a {
  text-decoration: none;
  color: #fff;
  font-size: 1.05rem;
  font-family: "Comfortaa", sans-serif;
}
.dropdown_menu a:hover {
  color: #5c565678;
}
.dropdown_menu.open {
  z-index: 1000;
  height: 300px;
  display: block;
}

.dropdown_menu li {
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 840px) {
  .dropdown_menu {
    display: none;
  }
  .dropdown_menu a {
    display: none;
  }
  .dropdown_menu.open {
    display: none;
  }
  .dropdown_menu li {
    display: none;
  }
}
@media (min-width: 1100px) {
  .logo-img {
    margin-top: -20px;
  }
}

@media (max-width: 1100px) {
  .promo {
    background-position: left center;
  }
  .menu-list {
    display: flex;
  }
  .toggle_btn {
    display: none;
  }
  .menu-mobile {
    display: flex;
    gap: 0 20px;
  }

  .logo-img {
    width: 60px;
  }
  .nav {
    align-items: center;
  }
  .title {
    font-size: 64px;
  }
  .subtitle {
    font-size: 42px;
  }
  .subtitle span {
    font-size: 32px;
  }
}

@media (max-width: 1000px) {
  .logo-img {
    width: 50px;
  }
}
@media (max-width: 969px) {
  .evo-white__inner::after {
    display: none;
  }
  .toggle_btn {
    z-index: 2000;
    display: none;
  }

  .dropdown_menu {
    z-index: 1000;
    display: none;
  }
}
@media (max-width: 945px) {
  .logo-img {
    display: none;
  }
}
@media (max-width: 920px) {
  .track__img {
    margin: auto auto 90px 120px;
    justify-content: center;
  }
}

@media (max-width: 840px) {
  .menu-list {
    display: none;
  }
  .logo-img {
    display: flex;
  }
  .toggle_btn {
    z-index: 2000;
    display: block;
  }

  .dropdown_menu {
    z-index: 1000;
    display: block;
  }

  .menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
  }

  .menu-btn span {
    height: 3px;
    width: 100%;
    background-color: #fff;
  }

  .menu-mobile {
    display: none;
  }
  .menu-mobile.menu--open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      #000000 0%,
      rgba(217, 217, 217, 0) 100%
    );
    height: 100vh;
    z-index: 5;
    text-align: center;
    padding-top: 140px;
  }
  .menu-link {
    color: #fff;
    font-size: 3vh;
    display: block;
    padding: 20px 0;
  }
  .logo {
    z-index: 10;
  }
  .info__part-textbox {
    display: block;
    padding-bottom: 15px;
  }
  .info__part {
    display: block;
  }
  .info__part--second .info__text,
  .info__part--third .info__text {
    max-width: 100%;
  }
  .info__table {
    width: 100%;
  }
  .info__part-img {
    width: 100%;
  }
  .track__img {
    margin: auto auto 90px 60px;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .blog__quote {
    flex-direction: column;
  }

  .blog__quote-box {
    flex-basis: auto;
  }
  .blog__quote-img {
    order: -1;
  }
  .blog__item-img {
    width: 100%;
  }
  .info__part {
    padding-top: 50px;
  }
  .evo-black__img {
    margin-top: 130px;
  }
  .evo-white__inner {
    padding-top: 75px;
  }
  .evo-white__video {
    margin-top: 50px;
  }
  .blog,
  .blog__slider,
  .evo {
    margin-bottom: 50px;
  }
  .footer {
    padding: 50px 0;
  }
  .track__img {
    margin: auto auto 90px 40px;
    justify-content: center;
  }
}

@media (max-width: 669px) {
  .evo-white__inner::before {
    display: none;
  }
  .evo-black__inner::before {
    display: none;
  }
  .evo__descr-list {
    display: block;
    text-align: center;
  }
  .evo__descr-list div {
    margin-bottom: 15px;
  }
  .evo-black__info {
    display: block;
  }
  .evo-black__title {
    margin-bottom: 20px;
  }
  .footer__top {
    display: block;
  }
}
@media (max-width: 560px) {
  .title {
    font-size: 48px;
  }
  .subtitle {
    font-size: 34px;
  }
  .map1 {
    scale: 0.82;
    margin-left: -45px;
  }

  .subtitle span {
    font-size: 26px;
  }
  .info__table td:nth-child(2) {
    padding-left: 5px;
    padding-right: 5px;
  }
  .evo-black__inner::after {
    display: none;
  }
  .track__img {
    width: 380px;
    margin: auto auto 90px 60px;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .footer__bottom {
    display: block;
    text-align: center;
  }
  .footer__logo {
    padding: 20px;
    display: block;
  }
  .track__img {
    width: 350px;
    margin: auto auto 90px -5px;
    justify-content: center;
  }
}

@media (max-width: 430px) {
  .track__img {
    margin: auto auto 90px 23px;
    justify-content: center;
  }
  .info__table td {
    width: 100%;
    scale: 0.9;
  }
}
@media (max-width: 414px) {
  .track__img {
    margin: auto auto 90px 12px;
    justify-content: center;
  }
}
@media (max-width: 390px) {
  .track__img {
    margin: auto auto 90px 2px;
    justify-content: center;
  }
}
@media (max-width: 360px) {
  .track__img {
    margin: auto auto 90px -15px;
    justify-content: center;
  }
}

@media (max-width: 340px) {
  .title {
    font-size: 42px;
  }
  .subtitle {
    font-size: 30px;
  }

  .subtitle span {
    font-size: 26px;
  }
}

@media (max-width: 340px) {
  .menu-link {
    padding: 15px 0;
  }
}

@media (max-width: 280px) {
  .track__img {
    width: 270px;
    margin: auto auto 90px -12px;
    justify-content: center;
  }
}
